:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.help-link,
.header-link,
.mission-link,
.footer-link,
.accordion-header img {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

@media (hover: hover) {
    .help-link:hover,
    .header-link:hover,
    .mission-link:hover,
    .footer-link:hover {
        opacity: 0.8;
    }
}

.help-link:active,
.header-link:active,
.mission-link:active,
.footer-link:active {
    opacity: 0.8;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 144rem;
    margin: 0 auto;
    padding-inline: 6rem;
    padding-bottom: 4.6rem;
    font-family: "Kulim Park", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

.header-content {
    height: 10.3rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.nav-container {
    justify-self: start;
}

.nav-list {
    display: flex;
    gap: 4.3rem;
    list-style: none;
}

.nav-link {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.15;
    color: #3D3D3D;
    text-decoration: none;
}

.header-logo {
    justify-self: center;
    width: 50px;
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
}

.header-logo-caption {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1;
    color: #000000;
}

.help-link {
    justify-self: end;
    width: 21.6rem;
    height: 4.1rem;
    border: 1px solid #666666;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 1.8rem;
    line-height: 0.9;
    color: #3D3D3D;
    text-decoration: none;
}

.header-background {
    width: 100%;
    height: 69.6rem;
    background-image: url(images/header_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem;
    position: relative;
}

.header-title {
    position: absolute;
    max-width: 104.7rem;
    height: auto;
    left: 3.2rem;
    top: 0.8rem;
    font-weight: 600;
    font-size: 10rem;
    line-height: 1.14;
    color: #FFFFFF;
}

.header-text {
    position: absolute;
    max-width: 37.8rem;
    height: auto;
    right: 0;
    top: 35%;
    font-weight: 275;
    font-size: 2rem;
    line-height: 1.15;
    color: #FFFFFF;
    opacity: 0.75;
}

.header-link {
    position: absolute;
    width: 14rem;
    height: 14rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4.6rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.14;
    color: #BF632F;
    text-decoration: none;
}

.header-link::before {
    content: '';
    position: absolute;
    width: 16.2rem;
    height: 16.2rem;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.main {
    margin-top: 12.8rem;
    margin-bottom: 11.2rem;
}

.mission {
    display: grid;
    grid-template-columns: 1fr 1.89fr;
    column-gap: 10.7rem;
    align-items: start;
}

.mission-image img {
    width: 100%;
    height: auto;
    max-width: 40rem;
}

.mission-about {
    display: flex;
    flex-direction: column;
}

.mission-title {
    margin-bottom: 5.6rem;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.14;
    color: #3E3E3E;
}

.mission-text {
    margin-bottom: 3.8rem;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15;
    color: #3E3E3E;
}

.mission-link {
    width: 100%;
    height: 6.6rem;
    background-color: #BC5E28;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 300;
    font-size: 3rem;
    line-height: 1.14;
    color: #171717;
    text-decoration: none;
}

.achievements {
    margin-top: 7.2rem;
    margin-bottom: 14.1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5.6rem;
}

.achievement-card {
    justify-self: center;
    text-align: center;
}

.achievement-number {
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.14;
    color: #3E3E3E;
}

.achievement-text {
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.14;
    color: #3E3E3E;
}

.how-we-work {
    display: grid;
    grid-template-columns: 1fr 1.39fr;
    column-gap: 7.5rem;
    align-items: start;
}

.images-wrapper {
    display: flex;
    flex-direction: column;
    gap: 9.3rem;
}

.image-dolphins {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.image-dolphins img {
    width: 62.5%;
    height: auto;
    max-width: 31.7rem;
}

.image-giraffe {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.image-giraffe img {
    width: 47.3%;
    height: auto;
    max-width: 24rem;
}

.work-content {
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
    align-items: center;
}

.work-title {
    width: 100%;
    max-width: 49.9rem;
    height: auto;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.14;
    color: #3E3E3E;
}

.work-text {
    width: 100%;
    max-width: 52.6rem;
    height: auto;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.14;
    color: #3E3E3E;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-top: 1px solid #3E3E3E;
}

.accordion-item {
    border-bottom: 1px solid #3E3E3E;
    padding-top: 1.2rem;
    padding-bottom: 3rem;
}

.accordion-checkbox {
    display: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1.13;
    color: #3E3E3E;
}

.accordion-header img {
    transition: transform 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-content-text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.13;
    color: #3E3E3E;
    padding-top: 1.5rem;
}

.accordion-checkbox:checked + .accordion-header img {
    transform: rotate(90deg);
}

.accordion-checkbox:checked ~ .accordion-content {
    max-height: 50rem;
}

.footer-background {
    width: 100%;
    height: 69.6rem;
    margin-bottom: 12.2rem;
    background-image: url(images/footer_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.footer-title {
    max-width: 80rem;
    height: auto;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.14;
    color: #FFFFFF;
}

.footer-text {
    max-width: 89.1rem;
    height: auto;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15;
    color: #FFFFFF;
}

.footer-link {
    width: 40.2rem;
    height: 3.5rem;
    border: 1px solid #E7C9BF;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    row-gap: 5rem;
    padding-top: 2.8rem;
    margin-bottom: 7.3rem;
    border-top: 1px solid #3E3E3E;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    list-style: none;
}

.contacts-list li:first-child {
    height: 2.3rem;
}

.contacts-list li:not(:first-child) {
    height: 1.6rem;
}

.list-title {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15;
    color: #3E3E3E;
}

.list-link {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.14;
    color: #3E3E3E;
    text-decoration: none;
}

.subscribe-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.subscribe-title {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15;
    color: #3E3E3E;
    padding-bottom: 1.4rem;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.subscribe-form input[type="email"] {
    width: 100%;
    padding-bottom: 0.2rem;
    border: 1px solid transparent;
    border-bottom: 1px solid #979797;
}

.subscribe-form input[type="email"]::placeholder {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #979797;
}

.checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.2rem;
}

.checkbox-wrapper input[type="checkbox"] {
    width: 0.7rem;
    height: 0.7rem;
    background: #FFFFFF;
    border: 0.2px solid #666666;
    accent-color: #3E3E3E;
}

.checkbox-label {
    font-weight: 300;
    font-size: 0.7rem;
    line-height: 1.14;
    color: #979797;
    cursor: pointer;
    align-self: center;
}

.social-buttons {
    display: flex;
    gap: 1.6rem;
    justify-content: start;
    margin-top: 7.4rem;
}

.social-buttons button {
    height: 3.3rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.14;
    color: #979797;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-buttons button:first-child {
    width: 6.2rem;
}

.social-buttons button:last-child {
    width: 11.7rem;
}

.social-buttons button:hover {
    color: #FFFFFF;
    background-color: #3E3E3E;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    gap: 7.5rem;
}

.footer-logo {
    width: 50px;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(50%);
}

.footer-logo img:nth-child(2) {
    margin-top: -14px;
    margin-left: 77px;
}

.footer-logo-caption {
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 1.14;
    color: #000000;
}

.footer-info-text {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #979797;
}

@media (max-width: 1024px) {
    :root {
        font-size: 56.25%;
    }
    
    body {
        padding-inline: 4rem;
    }
    
    .header-title {
        font-size: 8rem;
    }
    
    .mission {
        grid-template-columns: 1fr 1.5fr;
        column-gap: 6rem;
    }
    
    .mission-title {
        font-size: 2.8rem;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 50%;
    }
    
    body {
        padding-inline: 3rem;
    }
    
    .header-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem;
        height: auto;
        padding: 2rem 0;
    }
    
    .nav-container {
        justify-self: center;
        order: 2;
    }
    
    .header-logo {
        justify-self: center;
        order: 1;
        transform: none;
    }
    
    .help-link {
        justify-self: center;
        order: 3;
    }
    
    .header-title {
        font-size: 6rem;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
    
    .header-text {
        max-width: 90%;
    }
    
    .mission {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    
    .mission-image {
        text-align: center;
    }
    
    .mission-title {
        font-size: 2.4rem;
    }
    
    .mission-link {
        font-size: 2.4rem;
    }
    
    .achievements {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
    .how-we-work {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    
    .work-title {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 43.75%;
    }
    
    body {
        padding-inline: 2rem;
    }
    
    .header-title {
        font-size: 4rem;
    }
    
    .header-background,
    .footer-background {
        height: 40rem;
    }
    
    .header-link {
        width: 10rem;
        height: 10rem;
        font-size: 1.8rem;
    }
    
    .header-link::before {
        width: 12rem;
        height: 12rem;
    }
    
    .nav-list {
        gap: 2rem;
    }
    
    .nav-link {
        font-size: 1.8rem;
    }
    
    .mission-title {
        font-size: 2rem;
    }
    
    .mission-text {
        font-size: 1.8rem;
    }
    
    .mission-link {
        font-size: 2rem;
        height: 5rem;
    }
    
    .achievement-number {
        font-size: 3.5rem;
    }
    
    .achievement-text {
        font-size: 2.4rem;
    }
    
    .work-title {
        font-size: 3rem;
    }
    
    .accordion-header {
        font-size: 1.8rem;
    }
    
    .footer-title {
        font-size: 3rem;
    }
    
    .footer-link {
        width: 30rem;
        font-size: 1.8rem;
    }
    
    .footer-contacts {
        flex-direction: column;
        gap: 3rem;
    }
    
    .footer-info {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
    
    .footer-logo {
        transform: none;
        margin: 0 auto;
    }
}
